[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "*"
rich = "*"
line-profiler = "*"
numpy = "*"
matplotlib = "*"
telegram-send = "*"
tk = "*"
pyqt5 = "*"
serverstd = {editable = true, git = "https://github.com/djanloo/serverStd"}

[dev-packages]

[requires]
python_version = "3.10"
