[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "*"
rich = "*"
numpy = "*"
matplotlib = "*"
telegram-send = "*"
tk = "*"
pyqt5 = "*"
serverstd = {editable = true, git = "https://github.com/djanloo/serverStd"}
line-profiler = "==3.5.1"
pandas = "*"
seaborn = "*"
emcee = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
